<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Welcome to Furniture System</h1>
            <p>Select furniture from the catalog to view details.</p>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4" *ngFor="let item of furnitures | async |paginate:{
              id:'allFurniture',
              itemsPerPage: pageSize,
              currentPage:currentPage
          }">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <img src="{{item.image}}" />
                        <p>{{item.description}}</p>

                        <div class="pull-right">
                            <a routerLink="../details/{{item.id}}" class="btn btn-info">Details</a>
                            <a *ngIf="authService.isAdmin()" (click)="deleteItem(item.id)" class="btn btn-danger">Delete</a>
                            <a *ngIf="authService.isAdmin()"routerLink="../edit/{{item.id}}" class="btn btn-success">Edit</a>
                        </div>
                        
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls id="allFurniture" (pageChange)="pageChange($event)" maxSize="9" directionLinks="true" autoHide="true"
        previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You are on page">
    </pagination-controls>
</div>